[Unit]
Description=Varda API ({{ varda_current }})
After=network.target

[Service]
ExecStart=/opt/varda/versions/{{ varda_current }}/virtualenv/bin/gunicorn --pid /opt/varda/versions/{{ varda_current }}/run/api.pid -c /opt/varda/versions/{{ varda_current }}/conf/api.conf varda:create_reverse_proxied_app()
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PIDFile=/opt/varda/versions/{{ varda_current }}/run/api.pid
WorkingDirectory=/opt/varda/versions/{{ varda_current }}
Environment=VARDA_SETTINGS=/opt/varda/versions/{{ varda_current }}/conf/settings.py
User=varda
Group=varda
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
